
@font-face {
    src: url("/fonts/Inter-Bold.woff2");
    font-family: "Inter Bold";
    font-display: swap;
}

@font-face {
    src: url("/fonts/Inter-SemiBold.woff2");
    font-family: "Inter Semi Bold";
    font-display: swap;
}

@font-face {
    src: url("/fonts/Inter-Regular.woff2");
    font-family: "Inter";
    font-display: swap;
}

::selection {
    background-color: rgba(140, 140, 140, 0.16);
}

h1::selection,
a::selection,
a *::selection,
img::selection {
    background-color: transparent;
}

.text-dark-blue-to-light-blue {
    background: #2f80ed;
    background: -webkit-linear-gradient(135deg, #2f80ed 0%, #b2ffda 100%);
    background: -moz-linear-gradient(135deg, #2f80ed 0%, #b2ffda 100%);
    background: linear-gradient(135deg, #2f80ed 0%, #b2ffda 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    cursor: default;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vw 1.5vw 12vw;
}

header h1 {
    font-size: 2vw;
    color: white;
    font-family: "Inter Bold", "Arial", serif;
}

header a {
    font-size: 1.2vw;
    color: white;
    background-color: transparent;
    text-decoration: none;
    border-radius: .4vw;
    cursor: pointer;
    transition: .4s ease-in-out;
    text-align: right;
    padding: 1.2vw 2vw;
    font-weight: bold;
    border: .1vw solid dimgray;
}

header a:hover {
    background: white;
    color: black;
}

footer {
    text-align: center;
    font-size: 1vw;
    margin: 3vw 0;
}